@model Raspberry.Models.Order
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order GetById</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center"><h4>Поиск по Id</h4></div>
    <form asp-controller="Order" asp-action="GetById" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Id">ID Order</label>
            <input class="form-control" asp-for="Id" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>
</html>