@model Raspberry.Models.Product
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Put Product</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center"><h4>Изменение продукта</h4></div>
    <form asp-controller="Product" asp-action="Put" method="post">
         <div class="mb-3">
            <label class="form-label" asp-for="Id">Product Id:</label>
            <input class="form-control" asp-for="Id" />
        </div >
        <div class="mb-3">
            <label class="form-label" asp-for="Supplier">Product Supplier:</label>
            <input class="form-control" asp-for="Supplier" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Name">Product Name:</label>
            <input  class="form-control" asp-for="Name" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Description">Product Description:</label>
            <input class="form-control" asp-for="Description" />
        </div>
        <p>
            <label class="form-label" asp-for="Price">Product Price:</label>
            <input class="form-control" asp-for="Price" />
        </p>        
        <p>
            <label class="form-label" asp-for="Image">Product  Image (xxx.png):</label>
            <input class="form-control" asp-for="Image" />
        </p>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>
</html>