@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Client Choice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Посмотреть Продукты</a>

    <div><br /></div>
    <a class="btn btn-primary" asp-controller="Order" asp-action="Index">Посмотреть Заказы</a>

</body>
</html>