@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetById Navigation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <a class="btn btn-primary" asp-controller="Product" asp-action="GetById">Product</a>

    <div><br /></div>
    <a class="btn btn-primary" asp-controller="Order" asp-action="GetById">Order</a>

</body>
</html>